body{
  padding:0;
  margin: 0;
}
.main{
   background-color:#AADDAA;
   min-height: 800px;
   padding: 10px;
   margin: 0px;
   transition: background-color 1.0s ease;
}
.widget{
  position: relative;
  background-color: white;
  color: #AADDAA;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius:5px;
  width:350px;
  height: 250px;
  padding: 10px 10px 5px 10px;
  margin: 0 auto;
}

.quote-box{
  height:200px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.1;
}

.quote-text{
  margin-left:2px;
  font-size: 20px;
}
.quote-attribution{
  text-align: right;
  font-size: 20px;
  margin-right: 25px;

}
.large-quote {
  font-size: 2em;
}

.links{
  background-color: #AADDAA;
  border-color: #AADDAA;
  color: white;
  font-size:25px;
  border-radius:5px;
  width: 40px;
  height: 40px;
  outline: none;
}

.buttons{
  position: absolute;
  top:200px;
  left:10px;
}

.new-button{
  position: relative;
  left: 175px;
  background-color: #AADDAA;
  border-color: #AADDAA;
  color:white;

  font-size: 25px;

  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  height:40px;
}
